<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!-- html段 -->
    <input type="text" v-model="username">
    <input type="button" value="添加" @click="add">

    <table>
        <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>操作</th>
        </tr>
        <tbody>
        <tr v-for="user in list" :key="user.id">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>
                <a href="#" @click.pervent="del(user.id)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../js/users.js}"></script>
</html>